.banner {
    background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url(../../images/underwater.jpg);
    background-size: cover;
    background-position: center;
    padding: 55px 0px;
    text-align: center;
    color: #fff;
}


.banner img{
  filter: brightness(90%);
}

p {
    display: block;
    margin-block-start: 5px;
    margin-block-end: 30px;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

